<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BBCode" version="0.3.0" />
  <package id="EntityFramework" version="4.3.1" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.1" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="SignalR.Ninject" version="0.4" />
  <package id="SignalR.Server" version="0.4.0.0" />
  <package id="SqlServerCompact" version="4.0.8852.1" />
</packages>